Testcase/S1C_AI_RAW__0____20220531T155630_20220531T155744_000016________2D48.SAFE/support/s1-level-0.xsd

<xs:schema 
	xmlns:sdf="http://www.gael.fr/2004/12/drb/sdf" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://www.esa.int/safe/sentinel-1.0/sentinel-1/ais/level-0"
	targetNamespace="http://www.esa.int/safe/sentinel-1.0/sentinel-1/ais/level-0">

   <xs:element name="measurements" type="measurementsType">
      <xs:annotation>
         <xs:documentation xml:lang="en">
         </xs:documentation>
      </xs:annotation>
   </xs:element> 
   <xs:complexType name="measurementsType">
      <xs:sequence>
         <xs:element minOccurs="1" name="isp" type="ispType">
            <xs:annotation>
               <xs:documentation xml:lang="en">The Data Unit (ISP) has a variable length</xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:encoding>BINARY</sdf:encoding>
                    <sdf:occurrence>unbounded</sdf:occurrence>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   
   <!-- line -->
   <xs:complexType name="ispType">
      <xs:sequence>
          <xs:element name="primaryHeader" type="primaryHeaderType"/>
          <xs:element name="timeStamp" type="timeStampType"/>
          <xs:element name="userData">
            <xs:annotation>
               <xs:documentation xml:lang="en">
                  Source Data : An array of variable occurrence of
                  unsigned bytes.
               </xs:documentation>
               <xs:appinfo>
                  <sdf:block>
                     <sdf:array>
                        <sdf:occurrence
                        query="../primaryHeader/packetDataLength - 5"
                        constant="false"/>
                        <sdf:length>1</sdf:length>
                     </sdf:array>
                  </sdf:block>
               </xs:appinfo>
            </xs:annotation>
            <xs:simpleType>
               <xs:list itemType="xs:unsignedByte"/>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="primaryHeaderType">
      <xs:sequence>
          <xs:element name="packetVersionNumber" type="packetVersionNumberType"/>
          <xs:element name="packetType" type="packetTypeType"/>
          <xs:element name="secondaryHeaderFlag" type="secondaryHeaderFlagType"/>
          <xs:element name="PID" type="PIDType"/>
          <xs:element name="PCAT" type="PCATType"/>
          <xs:element name="sequenceFlag" type="sequenceFlagType" fixed="11"/>
          <xs:element name="packetSequenceCount" type="packetSequenceCountType"/>
          <xs:element name="packetDataLength" type="us"/>
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="timeStampType">
      <xs:sequence>
 	  <xs:element name="secondSpare3Bit" type="spare3BitType"/>
	  <xs:element name="coarseTime" type="ul"/>
          <xs:element name="fineTime" type="CUCFineTimeType"/>
     </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="packetVersionNumberType">
      <xs:annotation>
         <xs:documentation>
         constant value = 000 (3 bits).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">3</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte"/>
   </xs:simpleType>

      <xs:simpleType name="packetTypeType">
      <xs:annotation>
         <xs:documentation>
         constant value = 0 (1 bit)
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">1</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte"/>
   </xs:simpleType>

   <xs:simpleType name="secondaryHeaderFlagType">
      <xs:annotation>
         <xs:documentation>
         constant value = 1 (1 bit)
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">1</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte"/>
   </xs:simpleType>

   <xs:simpleType name="PIDType">
      <xs:annotation>
         <xs:documentation>
         constant value = 1000001 (7 bits)
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
                <sdf:encoding>BINARY</sdf:encoding>
                <sdf:length unit="bit">7</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte"/>
   </xs:simpleType>

   <xs:simpleType name="PCATType">
      <xs:annotation>
         <xs:documentation>
         constant value = 1100 (4 bits)
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">4</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte"/>
   </xs:simpleType>

   <xs:simpleType name="sequenceFlagType">
      <xs:annotation>
         <xs:documentation>
         constant value 11 (2 bits).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">2</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte">
         <xs:enumeration value="11"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="packetSequenceCountType">
      <xs:annotation>
         <xs:documentation>
         variable value = 0 to 16383 (wraps to 0) (14 bits).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">14</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedShort"/>
   </xs:simpleType>

   <xs:simpleType name="CUCFineTimeType">
      <xs:annotation>
         <xs:documentation>
         fine time part of SC PPS Time of AIFM Time Stamp(13 bits).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">13</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedShort"/>
   </xs:simpleType>

   <xs:simpleType name="spare3BitType">
      <xs:annotation>
         <xs:documentation>
         constant value = 000 (3 bits).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length unit="bit">3</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedByte"/>
   </xs:simpleType>

   <xs:simpleType name="us">
      <xs:annotation>
         <xs:documentation>
         Unsigned short (2 bytes).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length>2</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedShort">
      	<xs:minInclusive value="0"/>
      	<xs:maxInclusive value="2"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="ul">
      <xs:annotation>
         <xs:documentation>
         Unsigned int (4 bytes).
         </xs:documentation>
         <xs:appinfo>
            <sdf:block>
               <sdf:encoding>BINARY</sdf:encoding>
               <sdf:length>4</sdf:length>
            </sdf:block>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:unsignedInt"/>
   </xs:simpleType>

</xs:schema>
